{"CSTR":["a","->API","jdfkldafj\u00f6lkdafj\u00f6akjfda\u00f6lkdfja\u00f6lfjda"],"CFLOAT":[1921.3432],"CKEY":["random-key-test-key"],"CINT":[34398283492],"types":[{"type-id":0,"size":1}],"vtable":{"30":{"0":14}},"bytecode":[{"op":"FNEW","a":0,"d":17},{"op":"NSSET","a":0,"d":1},{"op":"CTYPE","a":0,"d":0},{"op":"CSTR","a":0,"d":2},{"op":"CKEY","a":1,"d":0},{"op":"CINT","a":2,"d":0},{"op":"CFLOAT","a":3,"d":0},{"op":"VFNEW","a":5,"d":30},{"op":"NSGET","a":7,"d":1},{"op":"CSHORT","a":8,"d":5},{"op":"CALL","a":6,"d":2},{"op":"CALL","a":4,"d":1},{"op":"MOV","a":0,"d":4},{"op":"EXIT","a":0,"d":null},{"op":"FUNCF","a":0,"d":null},{"op":"GETFIELD","a":3,"b":2,"c":0},{"op":"RET","a":3,"d":null},{"op":"FUNCF","a":1,"d":null},{"op":"CTYPE","a":3,"d":0},{"op":"ALLOC","a":3,"d":3},{"op":"MOV","a":4,"d":2},{"op":"SETFIELD","a":3,"b":0,"c":4},{"op":"RET","a":3,"d":null}]}