{"CSTR":["a","->Bar","println"],"CFLOAT":[],"CKEY":[],"CINT":[],"types":[{"type-id":0,"size":1}],"vtable":{"30":{"0":14}},"bytecode":[{"op":"FNEW","a":0,"d":19},{"op":"NSSET","a":0,"d":1},{"op":"CTYPE","a":0,"d":0},{"op":"NSGET","a":1,"d":2},{"op":"VFNEW","a":3,"d":30},{"op":"NSGET","a":5,"d":1},{"op":"CSHORT","a":6,"d":3},{"op":"CALL","a":4,"d":2},{"op":"CALL","a":2,"d":1},{"op":"CALL","a":0,"d":2},{"op":"EXIT","a":0,"d":null},{"op":"FUNCF","a":0,"d":null},{"op":"CSHORT","a":3,"d":5},{"op":"RET","a":3,"d":null},{"op":"FUNCF","a":1,"d":null},{"op":"CSHORT","a":4,"d":9},{"op":"MOV","a":5,"d":3},{"op":"ADDVV","a":4,"b":4,"c":5},{"op":"RET","a":4,"d":null},{"op":"FUNCF","a":1,"d":null},{"op":"CTYPE","a":3,"d":0},{"op":"ALLOC","a":3,"d":3},{"op":"MOV","a":4,"d":2},{"op":"SETFIELD","a":3,"b":0,"c":4},{"op":"RET","a":3,"d":null}]}