{"CSTR":[],"CFLOAT":[],"CKEY":[],"CINT":[],"types":[],"vtable":{},"bytecode":[{"op":"FNEW","a":1,"d":11},{"op":"FNEW","a":3,"d":6},{"op":"CSHORT","a":4,"d":5},{"op":"CALL","a":2,"d":2},{"op":"CALL","a":0,"d":2},{"op":"EXIT","a":0,"d":null},{"op":"FUNCF","a":1,"d":null},{"op":"MOV","a":3,"d":2},{"op":"CSHORT","a":4,"d":10},{"op":"ADDVV","a":3,"b":3,"c":4},{"op":"RET","a":3,"d":null},{"op":"FUNCF","a":1,"d":null},{"op":"CSHORT","a":3,"d":8},{"op":"MOV","a":4,"d":2},{"op":"ADDVV","a":3,"b":3,"c":4},{"op":"RET","a":3,"d":null}]}